@charset "UTF-8";

.navigation {
    height: 70px;
    padding-bottom: 10px;
    background: #fff;
}

.brand {

    position: absolute;
    top: 20px;
    float: left;
    text-transform: uppercase;
    font-size: 1.4em;
}

.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    float: right;
    height: 30px;
    z-index: 999;
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;


}

nav ul li {
    float: left;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;

}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 5px 17px;
    line-height: 70px;
    background: #fff;
    color: #000;
    text-decoration: none;
}

nav ul li a:hover {
    text-shadow: 1px 0 0 #000;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 1334px) {
    .nav-mobile {
        display: block;

    }

    nav {
        width: 100%;
        padding: 70px 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }

    nav ul li ul li a {
        padding-left: 30px;
    }

    .nav-dropdown {
        position: static;
    }
}

@media screen and (min-width: 1335px) {
    .nav-list {
        display: block !important;
        background-color: #fff;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #000;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

.arrow {
    display: none;
}

nav ul li a:hover .arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #000;
    display: block;
    position: absolute;
    bottom: 0;
    left: 15px;
}